:root {
  --color-site: #2196f3;
  --color-text: #757575;
}

.list {
  text-decoration: none;
  list-style: none;
}
body {
  font-family: Roboto, sans-serif;
  color: #212121;
  font-size: 14px;
}
/**header**/

.logo {
  font-weight: 700;
  font-family: raleway;
  font-size: 26px;
  line-height: 1.7;
  color: #212121;
}
/**header**/

.logo-web {
  color: var(--color-site);
}

.color-studio {
  color: #ffffff;
}

.menu {
  font-weight: 1.14;
  color: #212121;
}

.menu:active {
  color: var(--color-site);
}
.menu:hover,
.menu:focus {
  color: var(--color-site);
}

.mail-tell {
  color: var(--color-text);
}

.mail-tell:hover,
.mail-tell:focus {
  color: var(--color-site);
}

/**main**/

.hero {
  background-color: #2f303a;
}

.text-hero {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.37;
  text-align-last: Center;
  color: #ffffff;
}

.button-hero {
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  color: #ffffff;
  background-color: var(--color-site);
}
.title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align-last: Center;
}

.title-small {
  font-weight: 700;
  line-height: 1.14;
}

.name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
}

.synopsis {
  font-weight: 400;
  line-height: 1.71;
  color: var(--color-text);
}

.synopsis-team {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  color: var(--color-text);
}

/**footer**/
.cursor {
  cursor: default;
}
.address {
  color: #ffffff;
}

.footer {
  background-color: #2f303a;
}
.address-list {
  font-weight: 400;
  font-style: normal;
  line-height: 1.71;
}
.sectiom-team {
  background-color: #f5f4fa;
}

/**portfolio**/

.btn-filter {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  color: #212121;
  background-color: #f5f4fa;
}
.btn-filter:hover,
.btn-filter:focus {
  color: #ffffff;
  background-color: var(--color-site);
  cursor: pointer;
}
.projects-title {
  font-size: 16px;
  line-height: 2;
}

.project-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.9;
  color: var(--color-text);
}
.address:hover,
.address:focus {
  color: var(--color-site);
}
